body {
    font-size: 16px;
    line-height: 26px;
    font-family: Arial, sans-serif;
    color: #222222;
    margin: 0;
    background-color: #2e2e2e;
    background-repeat: no-repeat;
    background-size: cover;
}

.page-title {
    font-weight: bold;
    font-size: 36px;
    text-align: center;
    font-family: Verdana, sans-serif;
    line-height: 36px;
    color: #fff;
    background-color: #4a87fa;
    padding: 20px 0;
}

header p {
    text-align: center;
    font-size: 24px;
    margin: 5px;
    color: #fff;
}

main {
    display: flex;
    padding: 20px;
    gap: 20px;
}

nav {
    flex: 1;
    background-color: #e0e7f1;
    padding: 15px;
    border-radius: 8px;
}

nav h4 {
    color: #4a87fa;
}

a:link, a:visited, a:hover, a:active {
    color: #4a87fa;
    text-decoration: none;
}

article {
    flex: 3;
    background-color: #333;
    color: #fff;
    padding: 20px;
    border-radius: 8px;
}

article h2, article h1 {
    color: #4a87fa;
}

article h2 {
    font-size: 20px;
}

article h1 {
    font-size: 28px;
}

aside.ad {
    flex: 1;
    background-color: #4a87fa;
    color: white;
    text-align: center;
    padding: 15px;
    border-radius: 8px;
}

footer {
    text-align: center;
    color: #fff;
    background-color: #4a87fa;
    padding: 15px 0;
}
